PROJET SANTE

In [5]:
import pandas as pd

In [67]:
consultations=pd.read_csv('consultations.csv')
consultations.head()

,consultation_id,patient_id,date_consultation,motif_consultation,type_consultation,service_médical,frais_consultation,medecin_id
0,1,1,9/20/2022,ipsum aliquam non mauris morbi,urgence,dermatologie,45 000,1
1,2,2,3/23/2022,posuere metus vitae ipsum aliquam,examen de routine,neurologie,75000,2
2,3,3,11/6/2022,lobortis convallis tortor risus dapibus,visite chez le spécialiste,dermatologie,75000,3
3,4,4,5/13/2022,ut nulla sed accumsan felis,suivi,neurologie,75000,4
4,5,5,7/13/2022,et magnis dis parturient montes,suivi,cardiologie,45 000,5

In [69]:
consultations.columns

Index(['consultation_id', 'patient_id', 'date_consultation',
       'motif_consultation', 'type_consultation', 'service_médical',
       'frais_consultation', 'medecin_id'],
      dtype='object')

In [7]:
consultations.isnull().sum()

consultation_id       0
patient_id            0
date_consultation     0
motif_consultation    0
type_consultation     0
service_médical       0
frais_consultation    0
medecin_id            0
dtype: int64

In [9]:
consultations.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 8 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   consultation_id     1000 non-null   int64
 1   patient_id          1000 non-null   int64
 2   date_consultation   1000 non-null   object
 3   motif_consultation  1000 non-null   object
 4   type_consultation   1000 non-null   object
 5   service_médical     1000 non-null   object
 6   frais_consultation  1000 non-null   object
 7   medecin_id          1000 non-null   int64
dtypes: int64(3), object(5)
memory usage: 62.6+ KB

In [ ]:
CREATE TABLE consultation (
    consultation_id INT PRIMARY KEY,
    patient_id INT,
    date_consultation VARCHAR(20),
    motif_consultation TEXT,
    type_consultation VARCHAR(50),
    service_médical VARCHAR(50),
    frais_consultation VARCHAR(20),
    medecin_id INT
);

In [10]:
consultations.shape

(1000, 8)

In [11]:
consultations['type_consultation'].value_counts()

type_consultation
visite chez le spécialiste    260
urgence                       251
suivi                         249
examen de routine             240
Name: count, dtype: int64

In [12]:
consultations['service_médical'].value_counts()

service_médical
cardiologie     344
dermatologie    331
neurologie      325
Name: count, dtype: int64

In [22]:
consultations['frais_consultation'].unique()

array(['45\u202f000', '75000', '85000'], dtype=object)

In [26]:
consultations['frais_consultation'].value_counts()

frais_consultation
85000     339
75000     333
45 000    328
Name: count, dtype: int64

In [35]:
consultations['frais_consultation'].unique()

array(['45\u202f000', '75000', '85000'], dtype=object)

In [36]:
consultations[consultations['frais_consultation']=='45\u202f000']

,consultation_id,patient_id,date_consultation,motif_consultation,type_consultation,service_médical,frais_consultation,medecin_id
0,1,1,9/20/2022,ipsum aliquam non mauris morbi,urgence,dermatologie,45 000,1
4,5,5,7/13/2022,et magnis dis parturient montes,suivi,cardiologie,45 000,5
6,7,7,9/14/2022,blandit ultrices enim lorem ipsum,visite chez le spécialiste,neurologie,45 000,7
8,9,9,8/9/2022,phasellus id sapien in sapien,visite chez le spécialiste,neurologie,45 000,9
11,12,12,11/12/2022,vestibulum sagittis sapien cum sociis,visite chez le spécialiste,cardiologie,45 000,12
...,...,...,...,...,...,...,...,...
985,986,986,6/4/2022,ante vivamus tortor duis mattis,suivi,dermatologie,45 000,986
987,988,988,2/8/2022,nisi nam ultrices libero non,examen de routine,dermatologie,45 000,988
990,991,991,2/16/2022,nullam varius nulla facilisi cras,suivi,dermatologie,45 000,991
994,995,995,1/13/2022,iaculis congue vivamus metus arcu,suivi,dermatologie,45 000,995
998,999,999,10/14/2022,lectus vestibulum quam sapien varius,visite chez le spécialiste,dermatologie,45 000,999

In [37]:
consultations['frais_consultation'].replace('45\u202f000', 45000, inplace=True)

In [38]:
consultations['frais_consultation'].value_counts()

frais_consultation
85000    339
75000    333
45000    328
Name: count, dtype: int64

In [40]:
consultations['frais_consultation']=consultations['frais_consultation'].astype(int)

In [41]:
consultations.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 8 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   consultation_id     1000 non-null   int64
 1   patient_id          1000 non-null   int64
 2   date_consultation   1000 non-null   object
 3   motif_consultation  1000 non-null   object
 4   type_consultation   1000 non-null   object
 5   service_médical     1000 non-null   object
 6   frais_consultation  1000 non-null   int64
 7   medecin_id          1000 non-null   int64
dtypes: int64(4), object(4)
memory usage: 62.6+ KB

In [ ]:
CREATE TABLE consultation (
    consultation_id INT PRIMARY KEY,
    patient_id INT,
    date_consultation VARCHAR(20),
    motif_consultation TEXT,
    type_consultation VARCHAR(50),
    service_médical VARCHAR(50),
    frais_consultation VARCHAR(20),
    medecin_id INT
);

## Base Diagnostics

In [43]:
diagnostics=pd.read_csv('diagnostics.csv')
diagnostics.head()

,diagnostic_id,consultation_id,diagnostic,gravité,état_sortie
0,1,1,penatibus et magnis dis parturient montes nasc...,elevee,en attente de resultats
1,2,2,ligula nec sem duis aliquam convallis nunc pro...,moderee,en traitement
2,3,3,bibendum morbi non quam nec dui luctus rutrum ...,faible,en traitement
3,4,4,tristique in tempus sit amet sem fusce consequ...,faible,en traitement
4,5,5,sit amet lobortis sapien sapien non mi integer...,moderee,en attente de resultats

In [44]:
diagnostics.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   diagnostic_id    1000 non-null   int64
 1   consultation_id  1000 non-null   int64
 2   diagnostic       1000 non-null   object
 3   gravité          1000 non-null   object
 4   état_sortie      1000 non-null   object
dtypes: int64(2), object(3)
memory usage: 39.2+ KB

In [47]:
diagnostics.duplicated().sum()

np.int64(0)

In [45]:
diagnostics.head(2)

,diagnostic_id,consultation_id,diagnostic,gravité,état_sortie
0,1,1,penatibus et magnis dis parturient montes nasc...,elevee,en attente de resultats
1,2,2,ligula nec sem duis aliquam convallis nunc pro...,moderee,en traitement

In [46]:
diagnostics['gravité'].value_counts()

gravité
elevee     356
moderee    329
faible     315
Name: count, dtype: int64

In [48]:
diagnostics['état_sortie'].value_counts()

état_sortie
gueri                      360
en traitement              333
en attente de resultats    307
Name: count, dtype: int64

In [ ]:
CREATE TABLE diagnostics (
    diagnostic_id INT PRIMARY KEY,
    consultation_id INT,
    diagnostic TEXT,
    gravité VARCHAR(50),
    état_sortie VARCHAR(50),
    FOREIGN KEY (consultation_id) REFERENCES consultation(consultation_id)
);

## Base Medecins

In [50]:
medecins=pd.read_csv('medecins.csv')
medecins.head()

   medecin_id      nom_medecin service_medical
0           1     Lewes Spurge       Oncologie
1           2  Gussie Hathwood     Cardiologie
2           3     Ulric Recher     Cardiologie
3           4     Eula Duckels       Oncologie
4           5     Ruddy Elphee       Oncologie

In [73]:
medecins.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 3 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   medecin_id       1000 non-null   int64
 1   nom_medecin      1000 non-null   object
 2   service_medical  1000 non-null   object
dtypes: int64(1), object(2)
memory usage: 23.6+ KB

In [51]:
medecins.isnull().sum()

medecin_id         0
nom_medecin        0
service_medical    0
dtype: int64

In [52]:
medecins.duplicated().sum()

np.int64(0)

In [53]:
medecins['service_medical'].unique()

array(['Oncologie', 'Cardiologie', 'Pediatrie', 'Neurologie'],
      dtype=object)

In [54]:
medecins['service_medical'].value_counts()

service_medical
Pediatrie      276
Cardiologie    247
Neurologie     247
Oncologie      230
Name: count, dtype: int64

In [ ]:
CREATE TABLE medecins (
    medecin_id INT PRIMARY KEY,
    nom VARCHAR(100),
    prenom VARCHAR(100),
    service_medical VARCHAR(50),
    specialite VARCHAR(100)
);

## Base patient

In [55]:
patient = pd.read_csv('patient.csv')
patient.head()

,patient_id,nom,prenom,sexe,age,situation_matrimonial,statut_professionel,date_naissance,Telephone
0,1,Clemens,Ewdale,female,18,marie,etudiant,5/5/1967,302-915-1592
1,2,Dick,Drable,male,74,divorce,etudiant,2/27/2002,303-304-7634
2,3,Riki,Colombier,female,33,celibataire,etudiant,9/14/1966,864-989-6971
3,4,Osmund,Cordsen,female,65,celibataire,chomeur,5/1/1926,868-180-6891
4,5,Theresina,Gurr,male,48,celibataire,employe,9/18/1923,917-348-3235

In [70]:
patient.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 9 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   patient_id             1000 non-null   int64
 1   nom                    1000 non-null   object
 2   prenom                 1000 non-null   object
 3   sexe                   1000 non-null   object
 4   age                    1000 non-null   int64
 5   situation_matrimonial  1000 non-null   object
 6   statut_professionel    1000 non-null   object
 7   date_naissance         1000 non-null   object
 8   Telephone              1000 non-null   object
dtypes: int64(2), object(7)
memory usage: 70.4+ KB

In [56]:
patient.isnull().sum()

patient_id               0
nom                      0
prenom                   0
sexe                     0
age                      0
situation_matrimonial    0
statut_professionel      0
date_naissance           0
Telephone                0
dtype: int64

In [58]:
patient[patient.duplicated()]

Empty DataFrame
Columns: [patient_id, nom, prenom, sexe, age, situation_matrimonial, statut_professionel, date_naissance, Telephone]
Index: []

In [60]:
patient['statut_professionel'].value_counts()

statut_professionel
etudiant    343
employe     333
chomeur     324
Name: count, dtype: int64

In [61]:
patient['sexe'].value_counts()

sexe
female    507
male      493
Name: count, dtype: int64

In [ ]:
CREATE TABLE patient (
    patient_id INT PRIMARY KEY,
    nom VARCHAR(100),
    prenom VARCHAR(100),
    date_naissance DATE,
    sexe VARCHAR(10),
    statut_professionel VARCHAR(100)
);

## Base Traitement

In [62]:
Traitements = pd.read_csv('Traitements.csv')
Traitements.head()

   traitement_id  diagnostic_id traitement_prescrit  durée_traitement_jours
0              1              1        medication A                      26
1              2              2        medication A                      12
2              3              3        medication C                      27
3              4              4        medication B                      22
4              5              5        medication C                      19

In [72]:
Traitements.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 4 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   traitement_id           1000 non-null   int64
 1   diagnostic_id           1000 non-null   int64
 2   traitement_prescrit     1000 non-null   object
 3   durée_traitement_jours  1000 non-null   int64
dtypes: int64(3), object(1)
memory usage: 31.4+ KB

In [63]:
Traitements.isnull().sum()

traitement_id             0
diagnostic_id             0
traitement_prescrit       0
durée_traitement_jours    0
dtype: int64

In [64]:
Traitements.duplicated().sum()

np.int64(0)

In [65]:
Traitements['traitement_prescrit'].value_counts()

traitement_prescrit
medication A    356
medication C    328
medication B    316
Name: count, dtype: int64

In [ ]:
CREATE TABLE Traitements (
    traitement_id INT PRIMARY KEY,
    diagnostic_id INT,
    traitement_prescrit TEXT,
    date_debut DATE,
    date_fin DATE,
    FOREIGN KEY (diagnostic_id) REFERENCES diagnostics(diagnostic_id)
);